<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Version 1.0.1</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Copyright ©2012-2013     Avalanche-Lab.com</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>感谢@frederickjoe @coconut及各位虎踞龙蟠版友们对此版本发布做出的辛勤付出</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>UserName</key>
	<string></string>
	<key>UserID</key>
	<string></string>
	<key>UserToken</key>
	<string></string>
	<key>AllSections</key>
	<data></data>
</dict>
</plist>
