<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string></string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>UserName</key>
	<string></string>
	<key>UserID</key>
	<string></string>
	<key>isLoadAvatar</key>
	<false/>
	<key>uploadImage</key>
	<integer>0</integer>
	<key>isNotFirstLoad</key>
	<false/>
	<key>NotificationCount</key>
	<integer>0</integer>
	<key>ShowAttachments</key>
	<false/>
	<key>isGotDeviceToken</key>
	<false/>
	<key>isPostDeviceToken</key>
	<false/>
	<key>DeviceToken</key>
	<string></string>
	<key>UserToken</key>
	<string></string>
</dict>
</plist>
